@page "/prueba"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

@rendermode InteractiveServer

<h3>Página Segura</h3>
@if (user != null && user.Identity.IsAuthenticated)
{
    <p>Bienvenido, @user.Identity.Name!</p>
}
else
{
    <p>Cargando...</p>
}

@code {
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        //var authState = await AuthenticationState;
        Console.WriteLine("Estado: " + authState.User.Identity.Name);
        user = authState.User;
        Console.WriteLine("Estado: " + user.Identity.Name);

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine("Usuario autenticado");
            
        }
        else
        {
            Navigation.NavigateTo("/login");
        }
    }
}